# Vivado Project Files
*.jou
*.log
*.str
*.zip
*.dcp
*.bit
*.bin
*.mmi
*.hwdef
*.mcs
*.prm
*.os

# Vivado Generated Directories
.Xil/
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.sim_dir/
*.srcs/sources_1/bd/*/ui/

# VS Code / IDE
.vscode/
*.code-workspace
.DS_Store
